# Visual Studio files
.vs/

# Environment variables
.env

# Logs
logs/
*.log

# MacOS system files
.DS_Store

# Ignore build output directories (if applicable)
build/
dist/
Lab-Project.Server/obj/Debug/net8.0/Lab-Project.Server.AssemblyInfo.cs
Lab-Project.Server/obj/Debug/net8.0/Lab-Project.Server.AssemblyInfoInputs.cache
